.about-employees{
  margin-top: 180px;
  padding-bottom:360px;
}

.about-employees__list {
  position: relative;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-employees__list::before{
  content: url("/img/quatation-mark.svg");
  position: absolute;
  top: -37px;
  left: 85px;

}

.about-employees__item{
  height: 200px;
  position: relative;
  background: #202A3C;
  box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
  border-radius: 3.93258px;
}

.about-employees__item-text{
  font-family: 'OpenSans';
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  padding: 30px;
}

.about-emploees__item-image{
  position: absolute;
  border-radius: 50%;
  top: 150px ;
  left: 30px;
}

.about-employees__item-heading{
  position: absolute;
  top: 137px;
  left: 67px;
  font-family: 'OpenSans';
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.about-employees_item-job{
  position: absolute;
  top: 160px;
  left:67px;
  font-family: 'OpenSans';
  font-size: 7px;
  line-height: 10px;
  letter-spacing: 0.5px;
  color: #FFFFFF;

}